build --config="_zlib64"
build --copt="-DSIMDJSON_EXCEPTIONS=0"
build --cxxopt="-std=c++20"
build -c opt

build:_zlib64 --copt="-D_FILE_OFFSET_BITS=64"
build:_zlib64 --copt="-D_LARGEFILE64_SOURCE"

build:asan --copt="-fsanitize=address"
build:asan --copt="-fsanitize=leak"
build:asan --linkopt="-fsanitize=address"
build:asan --linkopt="-fsanitize=leak"
build:asan --linkopt="-fsanitize-link-c++-runtime"

build:lto --copt="-flto=thin"
build:lto --linkopt="-flto=thin"

build:native --copt="-march=native"
build:native --copt="-mtune=native"
build:native --linkopt="-march=native"
build:native --linkopt="-mtune=native"

build:pedantic --copt="-pedantic"
build:pednatic --linkopt="-pedantic"

build:prof --cxxopt="-DENABLE_PROFILING"

build:rel --config="lto"
build:rel --copt="-O3"

build:tsan --copt="-fsanitize=thread"
build:tsan --linkopt="-fsanitize=thread"
build:tsan --linkopt="-fsanitize-link-c++-runtime"

build:ubsan --copt="-fsanitize=undefined"
build:ubsan --linkopt="-fsanitize=undefined"
build:ubsan --linkopt="-fsanitize-link-c++-runtime"

build:lint --aspects=@bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:lint --@bazel_clang_tidy//:clang_tidy_executable=@cris_toolchains//:clang_tidy_wrapper
build:lint --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
build:lint --output_groups=report
