build -c opt
build --copt="-Wall"
build --copt="-Werror"
build --copt="-Wextra"
build --copt="-Wno-unused-parameter"
build --copt="-g3"
build --cxxopt="-DSIMDJSON_EXCEPTIONS=0"
build --cxxopt="-g3"
build --cxxopt="-std=c++20"

build:profiling --cxxopt="-DENABLE_PROFILING"

test -c dbg
test --linkopt="-fsanitize=address"
test --linkopt="-fsanitize=leak"
test --linkopt="-fsanitize=undefined"
